th {
    text-align: center;
  }
  
  .cart_img-box {
    width: 80px;
  }
  
  .cart_img-box img {
    width: 100%;
  }
  
  .cart_item-del i {
    cursor: pointer;
  }
  
  .cart_page-btn {
    display: flex;
    flex-wrap: nowrap;
    margin: 2rem 0;
  }
  
  .cart_page-btn button a:hover {
    background: rgba(85, 43, 85, 0.133);
    color: #fff;
  }
  
  .cart_subtotal {
    color: #df2020;
    font-size: 1.5rem;
  }
  
  .addToCart_btn {
    border: none;
    padding: 7px 25px;
    background: #df2020;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  @media only screen and (max-width: 768px) {
    th,
    td {
      font-size: 0.8rem;
    }
  }