.feature_subtitle{
    color: aqua;
}
.feature_title span{
    color: aqua;
}
.feature_text{
    color: #777;
}
.feature_item p {
    color: #777;
}

.food_category {
    background:aqua;
    text-align:center;
    margin-top:30px;
    padding:20px 0px;
    border-radius:8px;
}

.food_category button {
    border:none;
    outline: none;
    padding:7px 20px;
    background: transparent;
    color:#fff;
}

.food_category button img {
    width:25px;
    height:25px;
}

.foodBtnActive {
    background:#fff !important;
    border-radius: 5px;
    color:aqua !important;
}

.tasty-treat-title span{
    color:aqua;

}

.tasty-treat-desc {
    color:#777;
    line-height:28px;
}

.choose-us-title {
    font-weight: 600;
    margin-bottom: 10px;
}

.choose-us-title i {
    font-weight: 500 !important;
    color:#df2020;
}

.choose-us-desc {
    color:#777;
}

.testimonial-subtitle {
    color:aqua;
}

.testimonial-title span{
    color:aqua;
}
.testimonial-desc{
    color: #777;
    line-height: 30px;
}
@media only screen and (max-width: 768px){
    .hero_content h5 {
        font-size: 1rem;   
    }
    .hero_content p{
        font-size: .8rem;
        line-height: 25px;
    }

    .hero_title {
        font-size: 1.5rem;
        line-height: 40px;
    }
    .hero_btns button{
        padding: 5px 15px;
        font-size: .7rem;
    }
    .hero_service p {
        font-size: .7rem !important;
    }
} 
@media only screen and (max-width: 576px) {
    .hero_content{
        text-align: center;
    }
    
    .hero_btns{
        justify-content: center;
    }
   
    .hero_service{
        justify-content: center;
    }
}